# Activer la réécriture d'URL
RewriteEngine On

# Si le fichier/dossier n'existe pas, rediriger vers index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]