# Activer la réécriture d'URL
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Règles spécifiques
RewriteRule ^a-propos$ /?page=about [L]
RewriteRule ^articles$ /?page=articleList [L]
RewriteRule ^article/([^/]*)$ /?page=article&slug=$1 [L]
RewriteRule ^admin$ /?page=admin [L]
RewriteRule ^auth$ /?page=auth [L]
